{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}
  {% if game %}
    <div>
      <h3>{{game.name}}</h3>
      <img src="{{game.cover.url}}"/>
    </div>
    <a href="/AddGamesInToPanier?gameSelect={{game._id}}">
    <button type="button">
    Add to panier
    </button>
    </a>
  {% endif %}
{% endblock %}
