{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}
{% if game %}

<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{game.cover.url}}" alt="..." /></div>
      <div class="col-md-6">
          <h1 class="display-5 fw-bolder">{{game.name}}</h1>
          <div class="fs-5 mb-5">
          </div>
          <p class="lead">{{game.summary}}</p>
          {% if paramPrice %}
            <p>Price :{{paramPrice}}$</p><br>
          {% else %}
            <p>Price :{{price}}$</p><br>
          {% endif %}
          <div class="d-flex">
            {# <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> #}
            {% if paramPrice %}
                <a href="/AddGamesInToPanier?gameSelect={{game._id}}&price={{paramPrice}}">
                <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="add to Basket with success!">
                  Add to Basket
                </button>
                </a>
            {% else %}
              <a href="/AddGamesInToPanier?gameSelect={{game._id}}&price={{price}}">
                <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="add to Basket with success!">
                  Add to Basket
                </button>
              </a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</section>

{# {% for game in relatedGames%}
{% if game.cover %} #}
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related games</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{% for game in relatedGames%}
{% if game.cover %}
<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top bg-image" src="{{game.cover.url}}" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">{{game.name}}</h5>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/game/{{game._id}}">View options</a></div>
    </div>
  </div>
</div>
{% else %}
<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="/images/5847507.png" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">{{game.name}}</h5>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/game/{{game._id}}">View options</a></div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
      </div>
    </div>
  </div>
</section>



{% endif %}

{% endblock %}


