{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}
<div class="container" id="details" class="shadow-lg p-3 mb-5 bg-body rounded" ><br>
<div class="row">
coucou
  </div>
</div>
{% endblock %}
