{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}
  <div class="container" id="details" class="shadow-lg p-3 mb-5 bg-body rounded details" ><br>
    <div class="card">
      <div class="card-body">
        Welcome on the game store,
Here you can buy your favorite games for the best price. What are you waiting at ? Start purchasing now !
      </div>
    </div>
  </div>
{% endblock %}
