<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="/css/style.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<div id="navbar">
  <ul>
    <li id="nav-home-link"><a href="/home">Home</a></li>
    <li id="nav-game-link"><a href="/games">Game</a></li>
    <li id="nav-genres-link">
      <select name="genres" id="genres-select" onchange="location = this.value;">
        {% if filteredArray%}
          {% for genre in filteredArray %}
            <option value="/listGamePerGenres?genre={{genre}}">{{genre}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </li>
    <li id="nav-platforms-link">
      <select name="platforms" id="platforms-select" onchange="location = this.value;">
        {% if listPlatforms%}
          {% for platform in listPlatforms %}
            <option value="/listGamePerPlatforms?platform={{platform}}">{{platform}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </li>
    <li id="nav-login-link"><a href="/login">Sign in</a></li>
  </ul>
</div>
  {% block top%}{% endblock %}
  {% block contenu%}{% endblock %}
</body>
</html>
