{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}

  {% if arrayOfGamesPerGenre %}
    {% for game in arrayOfGamesPerGenre %}
      <a href="/game/{{game._id}}">
        <div>
          <h3>{{game.name}}</h3>
          <img src="{{game.cover.url}}"/>
        </div>
      </a>
    {% endfor %}
  {% endif %}
  <button><a href="/listGamePerGenres?genre={{param}}&page={{ currentpage - 1 }}">prev</a></button>
  <button><a href="/listGamePerGenres?genre={{param}}&page={{ currentpage + 1 }}">next</a></button>
{% endblock %}
