{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}

  {% if games %}
    <div class="row">
      {% for game in games %}
    <div class="col">
        <div class="card" style="width: 15rem;">
      {% if game.cover.url %}
        <img src="{{game.cover.url}}" class="card-img-top imgGame" alt="...">
      {% else %}
        <img src="https://images.assetsdelivery.com/compings_v2/novitskiy1980/novitskiy19801711/novitskiy1980171100035.jpg" class="card-img-top imgGame" alt="...">
      {% endif %}
    <div class="card-body">
      <h6 class="card-title">{{game.name}}</h6>
    </div>
      <a href="/game/{{game._id}}" class="btn btn-primary">Take a look</a>
    </div>
  </div>
    {% endfor %}
  {% endif %}

{% if currentpage >= 2 %}
  <a href="/listGamePerPlatforms?platform={{  param  }}&page={{ currentpage - 1 }}"><button type="button" class="btn btn-secondary btn-lg">Previous</button></a>
    {% endif %}

    {% if currentpage < numberpages %}
<a href="/listGamePerPlatforms?platform={{  param  }}&page={{ currentpage + 1 }}"><button type="button" class="btn btn-secondary btn-lg">Next</button></a>
    {% endif %}
{% endblock %}


{# {% if variable %}
// statements
{% else %}
// statements
{% endif %} #}
