{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}
{% if games %}
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    {# <h2 class="fw-bolder mb-4">Related games</h2> #}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{% for game in games%}
{% if game.cover %}
<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top bg-image" src="{{game.cover.url}}" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">{{game.name}}</h5>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/game/{{game._id}}">View options</a></div>
    </div>
  </div>
</div>
{% else %}
<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="/images/5847507.png" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">{{game.name}}</h5>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/game/{{game._id}}">View options</a></div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if currentpage >= 2 %}
    <li class="page-item ">
      <a class="page-link" href="/listGamePerPlatforms?platform={{  param  }}&page={{ currentpage - 1 }}" tabindex="-1" >Previous</a>
    </li>
    {% endif %}
    {% if currentpage < numberpages %}
    <li class="page-item">
      <a class="page-link" href="/listGamePerPlatforms?platform={{  param  }}&page={{ currentpage + 1 }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
