{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}
<form method="POST" action="/loginForm">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="hidden" name="hidden_value" value="i-4m-1nvi5ibl3" />
  <button type="submit">
    Login
  </button>
</form>
{% endblock %}

