{% extends "layout.njk" %}

{% block top%}{% endblock %}
{% block contenu%}
{% if arrayGameSelected %}
    {% for game in arrayGameSelected %}

  <div class="card">
<div class="shadow-lg p-3 mb-5 bg-body rounded">
  <div class="card-header">
   <h3>{{game.name}}</h3>
     <img src="{{game.cover.url}}"class="img-thumbnail"/>

  </div>
  <div class="card-body">

    <h5 class="card-title">{{game.summary}}</h5>
    <p class="card-text">{{game.summary}}</p>
    <a href="/deleteGamesInToPanier?gameSelect={{game._id}}" class="btn btn-primary">Delete</a>
  </div>
  </div>
</div>
    {% endfor %}
  {% endif %}
{% endblock %}


